.Header-format {
  width: 100%;
  margin-bottom: 10px;
  font-family: Risque !important;
  paddingTop: 15px;
}

.Plush-blue {
  color: #0080ff;
}

.Plush-orange {
  color: #ff5722
}

.Plush-font {
  font-Family:Risque;
  font-size: 25px;
}

.Wallpost-heading {
  font-family:Risque;
  font-size: 35px;
  color: Orange;
  margin-top: 150px;
}

.Wallpost-container {
  font-family:Risque;
  font-size: 25px;
  color: Orange;
  margin-top: 20px;
}

.Border-blue {
  border: 2px solid #0080ff !important;
  -moz-border-radius: 10px !important;
  -webkit-border-radius: 10spx !important;
}

.Border-orange {
  border: 2px solid orange !important;
  -moz-border-radius: 15px !important;
  -webkit-border-radius: 15px !important;
}

.Postview-format {
  margin-top: 20px;
  color:black;
}

.Plush-margin {
  margin-top: 10px;
}

.Button-login-format{
  font-family:Risque !important;
  font-size: 25px !important;
}


.Button-wallpost-format {
  border: 2px solid orange !important;
  background-color: white !important;
  border-radius: 100% !important;
  margin: 5% 20% !important;
  padding: 0 10% !important;

}

.Button-wallpost-padding {
  padding:30% 0px !important
}

.Row-height-half {
  height: 50%
}

.Profile-border {
  border: 3px solid orange;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
  margin: 0 auto 20px
}
