.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Plush-blue {
  color: #0080ff;
}

.Plush-font {
  font-Family:Risque;
  font-size: 50px;
}

.Wallpost-heading {
  font-family:Risque;
  font-size: 35px;
  color: Orange;
  margin-top: 150px;
}

.Wallpost-container {
  font-family:Risque;
  font-size: 25px;
  color: Orange;
  margin-top: 20px;
}

.Border-blue {
  border: 1px solid #0080ff !important
}

.Border-orange {
  border: 1px solid orange !important
}

.Postview-format {
  margin-top: 20px;
  color:black;
}

.Plush-margin {
  margin-top: 10px;
}

.Button-login-format{
  font-family:Risque !important;
  font-size: 25px !important;
}


.Button-wallpost-format {
   border: 2px solid orange !important;
  background-color: white !important;
  border-radius: 100% !important;
  margin: 5% 20% !important;
  padding: 0 10% !important;

}

.Button-wallpost-padding {
  padding:30% 0px !important
}
